<%- include ('./layout') %>
<div style="background-color: #36467C;" class="d-flex flex-row flex-wrap justify-content-around">
<div class="d-flex flex-column">
<h3 class="display-4 text-light mx-4 px-4">Dodaj smeštaj</h3>
<form action= "/smestaji/add" method="POST" class="mx-auto my-auto p-4">
  <input type="hidden" name="id" value="" />
    <input type="text" name="imeSmestaja" placeholder="Ime smestaja" required />
    <br />
    <input type="text" name="opis" placeholder="Opis smestaja" required/>
    <br />
    <input type="text" name="planina" placeholder="Planina na kojoj se nalazi" required />
    <br />
    <input type="text" name="kontakt" placeholder="Kontakt" required />
    <br />
    <input type="text" name="tipSmestaja" placeholder="Tip smestaja" required />
    <br />
    <input type="text" name="adresa" placeholder="Adresa" required />
    <br />
    <input type="text" name="kategorija" placeholder="Kategorija" required />
    <br />
    <input type="text" name="udaljenostOdCentra" placeholder="Udaljenost od centra"  required/>
    <br />
    <input type="text" name="prosecnaCenaPoNoci" placeholder="Prosecna cena po noci" required />
    <br />
    <input type="text" name="slika" placeholder="Slika" required />
    <br />
    <small class="text-light">Dodajete smeštaj...</small>
    <br />
  <input
    type="submit"
    value="Dodaj smeštaj"
    class="btn btn-outline-light btn-sm w-100"
  />
</form>
</div>
<img src="https://cdn.dribbble.com/users/1230681/screenshots/4504704/attachments/1020485/mjf_dribbblefull.jpg?compress=1&resize=800x600" class="img-fluid"/>
</div>
<div style="min-height:200px;background-color: #36467C;"></div>
